<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="/jils/jquery-1.9.1.min.js"></script>
    <script src="/jils/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/jils/bootstrap3/css/bootstrap.css"/>
    <!-- bootstrap上传插件 -->
    <script src="/jils/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/jils/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/jils/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<form class="form-horizontal" id="addStaffFormId">
    <div class="form-group">
        <label class="col-sm-2 control-label">员工姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="userName" placeholder="bookName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">职位</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="position" placeholder="bookName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">部门</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="dept" placeholder="bookName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">薪资</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="pay" placeholder="bookName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">座右铭</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="motto" placeholder="bookName">
        </div>
    </div>
</form>
<script type="text/javascript">


</script>
</body>
</html>